.btn {
  padding: 10px 20px;
  background-color: #082441;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #5b6876;
}

.btn:active {
  background-color: #09251e;
}
